.img-carousel{
  height: 600px;
  object-fit: cover;
}

.logo{
	width: 34px;
	height: 34px;
}

.foto{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.footer{
	width: 100px;
	height: 100px;
}

.image1{
	position: relative;
}

.btn-play{
	position: absolute;
	left: 50%;
	bottom: 50%;
}

.btn-coomingsoon{
	position: absolute;
	left: 30%;
	bottom: 40%;
}

.comingsoon{
	border-style: dotted;
	height: 100%
}

.bgbluecustom{
	background-color: #3AB0FF;
}

.bggreycustom{
	background-color: #CDC2AE;
}

.bg-gradientblue{
	background-image: linear-gradient(#574bcd, #2999ad , #41ef75);
}

.greygradient{
	background-image: linear-gradient(#9b9b9b, #d1d1d1);
}

.whitegradient{
	background-image: linear-gradient(#FFF, #9b9b9b);
}

.carousel-caption{
	bottom: 15.25rem !important;
}

.img-portofolio{
	 object-fit: cover;
	 height: 200px;
}

.instagram{
	color: #000080;
}

.email{
	color: #15678d;
}

.wa{
	
	position: fixed;
	bottom: 100px;
	left: 10px;
	z-index: 9999;
}

.wa-logo{
	object-fit: contain;
	width: 60px;
	height: 60px;
}

/*Responsive*/
@media (min-width: 320px) and (max-width: 570px) {
	.carousel-caption{
		bottom: 15.25rem !important;
	}

	.comingsoon{
		height: 210px !important;
	}

	.email{
		font-size: 11px !important;
	}

	.sosmeds{
		text-align: center !important;
	}
}
